body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    color: green;
}

.extrato {
    width: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.campo {
    background-color: #a9a9a9;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}

.campo strong {
    display: block;
    margin-bottom: 5px;
}

.botao-voltar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
