main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    color: #747474;
    font-weight: 400;
    font-style: normal;
  }

.option-title{
    margin-top: 80px;
    font-size: 58px
}


.log-container{
    display: flex;

    gap:40px;
}

.option-log {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    text-align: center; /* Centers text within the element */
    font-family: Arial, sans-serif;
    color: rgb(208, 212, 216);
    height: 300px;
    width: 300px;
    border-radius: 30px;
    
    font-size: 45px;
    background-color: rgba(116, 119, 122, 0.849);
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.option-log:hover {
    background-color: rgb(98, 93, 93);
    box-shadow: 2px 2px 10px black;
}



.option-end{
    font-size: 30px;
}

.option-end a{
    color: rgb(7, 170, 7);
}

.option-end a:visited{
    color: green;
}