.extrato{
    background-color: #d9d9d9;
    color: #727272;
    font-size: 25px;
    width: 1000px;
    margin: 50px auto;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    margin-bottom: 390px;
    margin-top: 300px;
    text-decoration: none;
}

#foto{
    margin: 0 auto;
    width: 300px;

}

#nome, #valor, #dados{
    margin-top: 50px;
    margin-left: 50px;
}


