body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.register-container,
.login-container {
    background-color: white;
    margin: 250px;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4FA088;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #08684b;
}

#logintitle{
    font-size: xx-large;
    color: #4FA088;
}

#logintext{
    font-size: x-large;
    color: #08684b;
}

#logintext2{
    font-size: x-large; 
}

#message,
#reg-message {
    color: red;
    margin-top: 10px;
}

