.credit-title{
    text-align: center;
    font-size: 48px;



}

.credit-title img{
    height: 65px;
    color: #747474;;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    color: #747474;
    font-weight: 400;
    font-style: normal;
  }