.credit-title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;



}

.credit-title img{
    height: 65px;

    color: #747474;;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    color: #747474;
    font-weight: 400;
    font-style: normal;
  }


.credit-type img{
    height: 60px;
  }

.validade p{
    display: inline-block
    
}

.validade-codigo{
  display: flex;
  justify-content: space-evenly;
}

.credit-type{
  display: flex;
  justify-content: space-around;
}

.number{
  margin-left: 350px;
}

.value div{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 50px;
}




button{
  width: 1000px;
  margin-left: 300px;

}