#titulopsico{
        font-size: xx-large;
        color: #4FA088;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin-left: 412px;
    margin-right: 412px;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #333;
}

.card-content p {
    margin: 0;
    color: #777;
}