.descricao-pagamento h3 {
    color: #4FA088; 
    font-size: 24px; 
    margin-bottom: 20px; 
}

.form-100 {
    margin-left: auto; 
    margin-right: auto; 
    max-width: 500px; 
}

.form-50 {
    display: flex;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 500px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[name="ação"] {
    background-color: #4FA088;
    color: #fff;
    cursor: pointer;
    border: none;
}

input[name="ação"]:hover {
    background-color: #388073;
}

.quadrado{
    background-color: #D9D9D9; 
    padding: 10px;
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50PX;
    border-bottom: 100px;
}

    

